extends layout

block content
  h1= title
  form(action='/login',method='post')
    div
        div
            label Email
        input(type="text", name="email")
    div
        div
            label Password
        input(type="password", name="password")
    div
        input(type="submit", value="Log In")
